/*-------------------------------------------------------------- */
/* CSS Document by liujunhao > liujunhao@qianyilc.com
/*-------------------------------------------------------------- */
/* CSS Document by fulili > fulili@qianyilc.com											
/*reset
---------------------------------------------------------*/
* { margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }

li { list-style: none; }

fieldset, img { border-width: 0; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6, b, em, strong, address, caption, cite, code, dfn, th, var, i { font-style: normal; font-weight: normal; -webkit-text-size-adjust: none; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; }

a { -webkit-appearance: none; text-decoration: none; outline: none; }

body { font-size: 14px; color: #919aa7; padding-top: 45px; background-color: #fff; }

.fn, legend { font-size: 0; line-height: 0; color: transparent; }

input { -webkit-appearance: none; background-color: transparent; border-width: 0; outline: none; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none !important; margin: 0; }

input[type="number"] { -moz-appearance: textfield; }

@font-face { font-family: "iconfont"; src: url("sass/font/iconfont.eot"); src: url("sass/font/iconfont.eot?#iefix") format("embedded-opentype"), url("sass/font/iconfont.woff") format("woff"), url("sass/font/iconfont.ttf") format("truetype"), url("sass/font/iconfont.svg#svgFontName") format("svg"); }
.i { display: inline-block; font-family: "iconfont"; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; line-height: 1; vertical-align: middle; }

.r-sprite { vertical-align: middle; }

/*-------------------------------------------------------------- */
/* CSS Area by liujunhao > liujunhao@qianyilc.com > _ljh.scss
/*-------------------------------------------------------------- */
body { padding: 100px; text-align: center; }

* { background: rgba(0, 0, 0, 0.05); }

.r-rem .box1 { width: 200px; height: 200px; background-image: url("http://h.hiphotos.baidu.com/image/w%3D310/sign=5107295bcd1b9d168ac79c60c3dfb4eb/960a304e251f95caf6092932ca177f3e660952b1.jpg"); background-repeat: no-repeat; background-position: center center; border: 10px solid #f80; float: left; }
.r-rem .box2 { width: 12.5rem; height: 12.5rem; background-color: #f80; background-image: url("http://h.hiphotos.baidu.com/image/w%3D310/sign=5107295bcd1b9d168ac79c60c3dfb4eb/960a304e251f95caf6092932ca177f3e660952b1.jpg"); background-repeat: no-repeat; background-position: center center; -webkit-filter: grayscale(100%); filter: grayscale(100%); filter: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZmlsdGVyIGlkPSJncmF5c2NhbGUiPgogICAgICAgIDxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDAiLz4KICAgIDwvZmlsdGVyPgo8L3N2Zz4=#grayscale"); filter: gray; border: 10px solid #000; opacity: 0.5; -webkit-transform: translateX(350px); transform: translateX(350px); -webkit-animation: key01  16s infinite both; animation: key01  16s infinite both; }
@-webkit-keyframes key01 { 0% { -webkit-transform: translateX(350px); transform: translateX(350px); }
  25% { -webkit-transform: translateX(0); transform: translateX(0); }
  50% { -webkit-transform: translateX(200px); transform: translateX(200px); opacity: 0.2; }
  75% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 0.5; }
  100% { -webkit-transform: translateX(350px); transform: translateX(350px); opacity: 1; } }
@keyframes key01 { 0% { -webkit-transform: translateX(350px); transform: translateX(350px); }
  25% { -webkit-transform: translateX(0); transform: translateX(0); }
  50% { -webkit-transform: translateX(350px); transform: translateX(350px); opacity: 0.2; }
  75% { -webkit-transform: translateX(0); transform: translateX(0); opacity: 0.5; }
  100% { -webkit-transform: translateX(350px); transform: translateX(350px); opacity: 1; } }
.r-i { margin-top: 30px; }
.r-i i { font-size: 6.25rem; }
.r-i .r-i01 { color: #0069dd; }
.r-i .r-i02 { color: #0051aa; }
.r-i .r-i03 { color: #002044; }

.r-column { margin-top: 30px; padding: 10px; }
.r-column:before, .r-column:after { content: ''; display: table; }
.r-column:after { clear: both; }
.r-column div { height: 10%; line-height: 100px; font-size: 12px; color: #333; overflow: hidden; }
.r-column .r-column01 { float: left; clear: none; width: 19.2%; margin-left: 0; margin-right: 1%; }
.r-column .r-column01:last-child { margin-right: 0; }
.r-column .r-column02 { float: left; clear: none; width: 39.4%; margin-left: 0; margin-right: 1%; }
.r-column .r-column02:last-child { margin-right: 0; }
.r-column .r-column03 { float: left; clear: none; width: 19.2%; margin-left: 0; margin-right: 1%; }
.r-column .r-column03:last-child { margin-right: 0; }
.r-column .r-column04 { float: left; clear: none; width: 19.2%; margin-left: 0; margin-right: 1%; }
.r-column .r-column04:last-child { margin-right: 0; }

.r-sprite { padding: 10px; margin-top: 30px; }
.r-sprite i { margin-right: 2%; }
.r-sprite .r-imgico01 { text-indent: -9999px; display: inline-block; background-image: url('../images/i-se5d79b3b0f.png'); background-position: 0 0; height: 82px; width: 86px; -webkit-background-size: 160px 367px; -moz-background-size: 160px 367px; -o-background-size: 160px 367px; background-size: 160px 367px; }
.r-sprite .r-imgico02 { text-indent: -9999px; display: inline-block; background-image: url('../images/i-se5d79b3b0f.png'); background-position: 0 -82px; height: 125px; width: 125px; -webkit-background-size: 160px 367px; -moz-background-size: 160px 367px; -o-background-size: 160px 367px; background-size: 160px 367px; }
.r-sprite .r-imgico03 { text-indent: -9999px; display: inline-block; background-image: url('../images/i-se5d79b3b0f.png'); background-position: 0 -207px; height: 160px; width: 160px; -webkit-background-size: 160px 367px; -moz-background-size: 160px 367px; -o-background-size: 160px 367px; background-size: 160px 367px; }

.r-txtBox { margin-top: 30px; padding: 10px; text-align: left; }
.r-txtBox:before, .r-txtBox:after { content: ''; display: table; }
.r-txtBox:after { clear: both; }
.r-txtBox p { padding: 10px; line-height: 1.6; font-size: 12px; }
.r-txtBox .r-txt { width: 200px; padding: 10px; float: left; }
.r-txtBox .r-txt h1 { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; line-height: 2; margin-bottom: 10px; }
.r-txtBox .r-txt2 { width: 200px; padding: 10px; float: left; text-align: left; }
.r-txtBox .r-txt2 h1 { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; line-height: 2; margin-bottom: 10px; text-align: left; padding: 0 10px; }
.r-txtBox .r-txt2 h1:after { content: '\e69d'; display: inline-block; zoom: 1; vertical-align: middle; position: absolute; margin: -5px 0px 0px 0px; font-size: 12px; color: red; }

.r-media { height: 100px; background: #e89d32; margin-top: 30px; line-height: 100px; font-size: 24px; color: #fff; }
@media (max-width: 1200px) { .r-media { background-color: #3290e8; } }
@media (max-width: 992px) { .r-media { background-color: #e83247; } }

.r-linear-gradient { margin-top: 30px; background: -webkit-linear-gradient(left,  #e30f55, #188ce5, #38b85f, #e89d32); background: linear-gradient(to right, #e30f55, #188ce5, #38b85f, #e89d32); height: 100px; line-height: 100px; font-size: 24px; color: #fff; }

.r-grayscale { margin-top: 30px; padding: 10px; }
.r-grayscale h3 { line-height: 4; font-size: 18px; color: #0069dd; }
.r-grayscale img { width: 33%; }
.r-grayscale .r-grayscale-img { -webkit-filter: grayscale(70%); filter: grayscale(70%); filter: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZmlsdGVyIGlkPSJncmF5c2NhbGUiPgogICAgICAgIDxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDAiLz4KICAgIDwvZmlsdGVyPgo8L3N2Zz4=#grayscale"); filter: gray; }
.r-grayscale .r-grayscale-img2 { -webkit-filter: grayscale(100%); filter: grayscale(100%); filter: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZmlsdGVyIGlkPSJncmF5c2NhbGUiPgogICAgICAgIDxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwIDAgMCAxIDAiLz4KICAgIDwvZmlsdGVyPgo8L3N2Zz4=#grayscale"); filter: gray; }

.r-border-arrow { margin-top: 30px; padding: 50px; }
.r-border-arrow:before, .r-border-arrow:after { content: ''; display: table; }
.r-border-arrow:after { clear: both; }
.r-border-arrow i { background: none; margin-right: 20px; }
.r-border-arrow .r-arrow01 { font-size: 0; width: 0; height: 0; overflow: hidden; border-width: 1.25rem; border-style: solid; _border-style: dashed; border-color: transparent; border-bottom-color: #333333; _border-bottom-style: solid; }
.r-border-arrow .r-arrow02 { font-size: 0; width: 0; height: 0; overflow: hidden; border-width: 1.25rem; border-style: solid; _border-style: dashed; border-color: transparent; border-left-color: #333; _border-left-style: solid; }
.r-border-arrow .r-arrow03 { font-size: 0; width: 0; height: 0; overflow: hidden; border-width: 1.25rem; border-style: solid; _border-style: dashed; border-color: transparent; border-top-color: #333; _border-top-style: solid; }
.r-border-arrow .r-arrow04 { font-size: 0; width: 0; height: 0; overflow: hidden; border-width: 1.25rem; border-style: solid; _border-style: dashed; border-color: transparent; border-right-color: #333; _border-right-style: solid; }

/*-------------------------------------------------------------- */
/* CSS Area by fullili > fulili@qianyilc.com > _fll.scss
/*-------------------------------------------------------------- */
/*-------------------------------------------------------------- */
/* CSS Area by liuyang > liuyang@qianyilc.com > _ly.scss
/*-------------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
