@charset "UTF-8";
/*-------------------------------------------------------------- */
/* CSS Area by liujunhao > liujunhao@qianyilc.com > _ljh.scss
/*-------------------------------------------------------------- */
body{padding: 100px;text-align: center;}
@include r-edit; 
.r-rem{
	.box1{ width: 200px;height: 200px;@include r-background('http://h.hiphotos.baidu.com/image/w%3D310/sign=5107295bcd1b9d168ac79c60c3dfb4eb/960a304e251f95caf6092932ca177f3e660952b1.jpg',no,center,center); border: 10px solid #f80;float: left;}
	.box2{width: r-pxTorem(200);height: r-pxTorem(200); background-color: #f80; @include r-background('http://h.hiphotos.baidu.com/image/w%3D310/sign=5107295bcd1b9d168ac79c60c3dfb4eb/960a304e251f95caf6092932ca177f3e660952b1.jpg',no,center,center);@include r-grayscale(100%); border: 10px solid #000;@include r-opacity(.5); -webkit-transform:translateX(350px);transform:translateX(350px);

		-webkit-animation: key01  16s infinite both;
	  	animation: key01  16s infinite both;
	}
	@-webkit-keyframes key01
	{
		0%   {-webkit-transform:translateX(350px);transform:translateX(350px);}
		25%  {-webkit-transform:translateX(0);transform:translateX(0);}
		50%  {-webkit-transform:translateX(200px);transform:translateX(200px);@include r-opacity(.2); }
		75%  {-webkit-transform:translateX(0);transform:translateX(0);@include r-opacity(.5);}
		100% {-webkit-transform:translateX(350px);transform:translateX(350px);@include r-opacity(1); }
	}
	@keyframes key01
	{
		0%   {-webkit-transform:translateX(350px);transform:translateX(350px);}
		25%  {-webkit-transform:translateX(0);transform:translateX(0);}
		50%  {-webkit-transform:translateX(350px);transform:translateX(350px);@include r-opacity(.2); }
		75%  {-webkit-transform:translateX(0);transform:translateX(0);@include r-opacity(.5);}
		100% {-webkit-transform:translateX(350px);transform:translateX(350px);@include r-opacity(1); }
	}
}

.r-i{margin-top: 30px;
	i{font-size: r-pxTorem(100); }
	.r-i01{color:$zcolor;}
	.r-i02{color:darken($zcolor, 10%);}
	.r-i03{color:darken($zcolor, 30%);}
}

.r-column{margin-top: 30px;@include r-clearfix; padding: 10px;
	div{height: 10%;line-height: 100px;font-size:12px; ;color:#333;overflow: hidden;}
	.r-column01{@include r-column(1/5); }
	.r-column02{@include r-column(2/5); }
	.r-column03{@include r-column(1/5); }
	.r-column04{@include r-column(1/5); }
}
.r-sprite{padding: 10px;margin-top: 30px;
	i{margin-right: 2%;}
	.r-imgico01{@include r-sprite(ico01); }
	.r-imgico02{@include r-sprite(ico02); }
	.r-imgico03{@include r-sprite(ico03); }
}

.r-txtBox{@include r-clearfix; margin-top: 30px;padding: 10px;text-align: left;
	p{padding: 10px;line-height: 1.6;font-size: 12px;}
	.r-txt{width: 200px;padding: 10px;float: left;
		h1{@include r-singleline-ellipsis(); line-height: 2;margin-bottom: 10px;}
	}
	.r-txt2{width: 200px;padding: 10px;float: left;text-align: left;
		h1{@include r-singleline-ellipsis(); line-height: 2;margin-bottom: 10px;text-align: left;padding: 0 10px;
			&:after { content: '\e69d'; @include r-inline-block; position: absolute; margin: -5px 0px 0px 0px;font-size: 12px;color:red;}
		}
	}
}

.r-media{height: 100px;background: #e89d32;margin-top: 30px;line-height: 100px;font-size: 24px;color:#fff;
	@include r-media(large){
		background-color: #3290e8;
	}; 
	@include r-media(medium){
		background-color: #e83247;
	}; 
}

.r-linear-gradient{margin-top: 30px;@include r-linear-gradient(to right,#e30f55, #188ce5, #38b85f, #e89d32);height: 100px; line-height: 100px;font-size: 24px;color:#fff;}

.r-grayscale{margin-top: 30px;padding: 10px;
	h3{line-height: 4;font-size: 18px;color:$zcolor;}
	img{width: 33%;}
	.r-grayscale-img{@include r-grayscale(70%);}
	.r-grayscale-img2{@include r-grayscale(100%);}
}


.r-border-arrow{margin-top: 30px;padding: 50px;@include r-clearfix; 
	i{background: none;margin-right: 20px;}
	.r-arrow01{@include r-border-arrow(top, 20, #333333); }
	.r-arrow02{@include r-border-arrow(right,20,#333); }
	.r-arrow03{@include r-border-arrow(bottom,20,#333); }
	.r-arrow04{@include r-border-arrow(left,20,#333); }
}

