@charset "UTF-8";
//--------------------------------------------------------------------------------------------------
// * @description : SASS SET
// * @author   	  : liujunhao 
// * @hoem   	  : www.iuunhao.com
// * @email   	  : html.5@foxmail.com
// * @BuildTools  : Grunt/sublimeBulie/Gulp/Koala/Sass/...
// * @date        : 2015-5-15
//--------------------------------------------------------------------------------------------------

// SET SASS
// ==============请您在开始项目之前先配置以下配置项以下内容初始为默认设置根据情况修改==============
// --------------------------------------------------------------------------------------------------
$isPC: 						false 			!default;		//切换PC兼容与移动模式
$weixin:					false			!default;		//微信base
$public-class:				false			!default;		//是否开启公共类
$r-page-width:        		1080px			!default;		//页面主体内容宽度
$r-gutter:           		1      			!default;		//网格槽款（百分比）
$margin-padding-list-step:	(1, 2)			!default;		//是否生成边距类([1]：步长，[2]：递增倍数)
$imgur: 					''	!default;		//背景图默认路径
$isFontFace:				true			!default;		//是否开启字体图标
$font-face-name-url:		("iconfont", "sass/font/");		//设置字体图标名称及路径
$icon-url: 					sprite-map("i/*.png");			//sprite路径
$isRem:						true			!default;		//是否开启单位转换
$zcolor:					#0069dd			!default;		//主色系

@if $isPC{
	$isRem: false;
}

//以下内容为初始化为变量＊强烈建议不做修改
// --------------------------------------------------------------------------------------------------
$bodyBgColor:           	#fff 			!default;		//body默认背景色
$textColor:             	#333 			!default;		//初始化文字颜色
$baseFontSize:   			62.5%  			!default;		//初始化文字大小
$fCn:                		'SimSun';
$fYh:             			'Microsoft Yahei';
$fHwxh:             		'STHeiti Light [STXihei]';
$fTa:						'Tahoma';
$fAr:						'Arial';
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

//以下内容为引入CSSREST
// --------------------------------------------------------------------------------------------------
@if $isPC{
	html, body { background-color: $bodyBgColor; height: 100%; font: $baseFontSize $helvetica;  color:$textColor; line-height: 2; }
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, code, form, input, button, fieldset, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
	table { border-collapse: collapse; border-spacing: 0 }
	fieldset, img { border: 0 }
	address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
	ol, ul { list-style: none }
	del, ins { text-decoration: none }
	caption, th { text-align: left }
	h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
	input, button, textarea, select { font-size: 100% }
	q:before, q:after { content: '' }
	addr, acronym { border: 0; font-variant: normal }
	sup, sub { vertical-align: baseline }
	li{list-style: none;}
	a { text-decoration: none; color:$textColor; }
	@if $public-class{
		.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		.clearfix { display: inline-block; }
		* html .clearfix { height: 1%; }
		.clearfix { display: block; }
		.fl{ float: left; display: inline; }
		.fr{ float: right; display: inline; }
		.block{ display:block; }
		.none { display:none; }
		.vh{visibility: hidden; }
		.tc{text-align: center; }
		.tr{text-align: right; }
		.strong{font-weight:bold;}
		.pr{position: relative; }
		@if (nth($margin-padding-list-step, 1) != 0) or (nth($margin-padding-list-step, 2) != 0) {
			/*MARGIN / PADDING
			------------------------------------------------------------------------------------------- */
			$margin-padding-list: (m: margin, p: padding);
			$Orientation-list: ('': '', t: top, r: right, b: bottom, l:left);
			$Shorthand-1: '';
			$Shorthand-2: '';
			$Spelling-1: '';
			$Spelling-2: '';
			@each $Shorthand-1, $Spelling-1 in $margin-padding-list {
				@each $Shorthand-2,$Spelling-2 in $Orientation-list {
					@for $i from 1 through nth($margin-padding-list-step, 1) {
						.#{$Shorthand-1}#{$Shorthand-2}#{$i * nth($margin-padding-list-step, 2)} {
						@if $Spelling-2 == ''{
							#{$Spelling-1}: $i * nth($margin-padding-list-step, 2) + px;
						}@else{
							#{$Spelling-1}-#{$Spelling-2}: $i * nth($margin-padding-list-step, 2) + px;
							}
						}
					}
				}
			}
		}
	}
}@else{
		/* CSS Document by fulili > fulili@qianyilc.com											
		/*reset
		---------------------------------------------------------*/
		*{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; }
		li{list-style: none; }
		fieldset,img{border-width: 0; }
		table {border-collapse:collapse; border-spacing:0; }
		h1,h2,h3,h4,h5,h6,b,em,strong,address,caption,cite,code,dfn,th,var,i {font-style: normal; font-weight: normal; -webkit-text-size-adjust: none; }
		h1,h2,h3,h4,h5,h6{font-size: 100%; }
		a{-webkit-appearance:none; text-decoration: none; outline: none; }
		body{font-size: 14px; color: #919aa7; padding-top: 45px; background-color: #fff; }
		.fn,legend{font-size: 0; line-height: 0; color: rgba(0,0,0,0); }
		input{-webkit-appearance:none; background-color: transparent; border-width: 0; outline: none; }
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button{-webkit-appearance:none !important; margin: 0; }
		input[type="number"]{-moz-appearance:textfield; }
		 @if $weixin{
		 	/*公用header---------------------------------------------------------*/
 			.f-header{position: fixed; left: 0; top: 0; right: 0; z-index: 100; background-color: white; height: 45px; line-height: 45px; border-bottom: 1px solid #e2e2e2; }
 			.f-header.poa{position: absolute; }
 			.f-header-title{font-size: 18px; color: #394659; text-align: center; }
 			.f-header .f-back{display: block; width: 18px; height: 18px; border:1px solid; border-color:transparent transparent #919aa7 #919aa7; -webkit-transform:rotate(45deg); position: absolute; left: 15px; top: 13px; }
 			.f-header .f-menu{display: block; width: 22px; height: 17px; position: absolute; right: 15px; top: 13px; background: url(../../../images/weixin-v1.0/images/public/i-1.png) no-repeat 0 0; background-size: 100%; }
 			.f-header .f-message-link{display: block; width: 40px; height: 20px; position: absolute; right: 15px; top: 15px; font-size: 14px; color: #394659; line-height: 1; text-align: right; padding-right: 3px; }
 			.f-header .f-message-link.has-message::after{display: block; position: absolute; right: -5px; top: -5px; width: 10px; height: 10px; border-radius: 50%; background-color: #ff5353; border:2px solid white; content: ""; }
 			.ly-header-Return{display:block; width:.22rem; height:.44rem; position:absolute; background:url(../../../images/weixin-v1.0/images/public/i-2.png) 0 0 no-repeat; background-size:100%; top:.13rem; left:.3rem; }
 			.f-has-footer-body{padding-bottom: 70px; }
 			/*公用footer
 			---------------------------------------------------------*/
 			.f-footer{border-top: 1px solid #dbdbdb; background-color: #f7f7f8; height: 50px; line-height: 70px; overflow: hidden; position: fixed; left: 0; right: 0; bottom: 0; }
 			.f-footer-nav{display: box; display: -webkit-box; }
 			.f-footer-nav li{-webkit-box-flex:2.5; box-flex:2.5; text-align: center; color: #919aa7; position: relative; }
 			.f-footer-nav li a{display: block; height: 50px; line-height: 70px; color: #919aa7; font-size: 10px; }
 			.f-footer-nav li.cur a{color: #ff5353; }
 			.f-footer-nav li::before{display: block; position: absolute; bottom: 24px; left: 50%; margin-left: -11px; content: ''; background: url(../../../images/weixin-v1.0/images/public/i-nav.png) no-repeat; background-size: 44px; width: 22px; z-index:-1; }
 			.f-footer-nav li.n-1::before{height: 20px; background-position:  0 0; }
 			.f-footer-nav li.n-2::before{height: 23px; background-position:  0 -22px; }
 			.f-footer-nav li.n-3::before{height: 20px; background-position:  0 -47px; }
 			.f-footer-nav li.n-4::before{height: 20px; background-position:  0 -70px; }
 			.f-footer-nav li.n-1.cur::before{height: 20px; background-position: -22px 0; }
 			.f-footer-nav li.n-2.cur::before{height: 23px; background-position: -22px -22px; }
 			.f-footer-nav li.n-3.cur::before{height: 20px; background-position: -22px -47px; }
 			.f-footer-nav li.n-4.cur::before{height: 20px; background-position: -22px -70px; }

 			/*---公用弹层 开始-----*/
 			.ly-ElasticLayer{background:rgba(0,0,0,0.4); position:fixed; z-index:110; top:0; right: 0; bottom: 0; left: 0; }
 			.ly-PopUpBox{background:#fff; min-width:310px; position:absolute; top:50%; left:50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color:#394659; border-radius:5px; -webkit-border-radius:5px; }
 			.ly-PopUpBox-title{font-size:18px; font-weight:bold; text-align:center; /*margin:30px 0;*/ margin: 25px 0; }
 			.ly-PopUpBox-conter{font-size:16px; text-align:center; /*margin-bottom:41px;*/ margin-bottom:25px; line-height: 1.4; }
 			.ly-PopUpBox-btn{border-top:1px solid #d1d1d1; height:55px; line-height:55px; font-size: 20px; }
 			.ly-PopUpBox-btn a{display:inline-block; height:100%; width:50%; text-align:center; color:#394659; }
 			.ly-PopUpBox-btn a:first-child{border-right:1px solid #d1d1d1; }
 			.ly-ElasticLayer .red{color:#ff5353; }
 			.ly-PopUpBox-btn a.all{display: block; color: #ff5353; width: 100%; border-width: 0; }
 			.f-box{margin: 0 18px 18px; }
 			.f-pop-input{float: left; width: 66%; height: 40px; line-height: 38px; background-color: white; border:1px solid #e7e7e7; border-right-width: 0; font-size: 16px; padding: 0 10px; }
 			.f-pop-btn{float: left; width: 34%; height: 40px; background-color: #ffefef; color: #ff5353; padding: 0 10px; border:1px solid #ffc3c3; border-radius: 0 2px 2px 0; font-size: 16px; }
 			.f-pop-btn:disabled{border-width: 0; background-color: #e0e0e0; color: #999; }
 			.f-tip-other{height: 100px; width: 300px; position: absolute; left: 50%; margin-left: -150px; top: 50%; margin-top: -50px; font-size: 12px; color: #394659; text-align: center; line-height: 100px; }
 			.f-tip-other img{display:inline-block; vertical-align: middle; margin-right: 10px; margin-top: -3px; }
 			/*----错误提示 开始----*/
 			.error{background:rgba(255,242,242,0.8); height:35px; line-height:35px; position:fixed; top:45px; left:0; right:0; z-index:10000; text-align:center; color:#ff5353; font-size:12px; }
 			.ly-closeImg{display: block; width:20px; height: 20px; padding: 5px; position: absolute; right: 5px; top: 7px; }
 			.f-code-error-tip{color:#ff5353; font-size: 12px; line-height: 2.5; padding: 0 5px; }
 			.f-change-tel{display:block; position: absolute; right: 20px; top: 25px; border-radius:5px; border:1px solid #d1d1d1; color: #919aa7; font-size: 10px; text-align: center; line-height: 1.8; padding:0 5px; }
 			.f-hot-tel{position:fixed; left: 0; right: 0; bottom: 0; background-color:rgba(255,255,255,.9); height: 50px; line-height: 50px; border-top:1px solid #e2e2e2; text-align: center; }
 			.f-hot-tel .tel,
 			.f-hot-tel-account .tel{display:inline-block; font-size: 15px; color: #919aa7; background:url(../../../images/weixin-v1.0/images/public/tel.png) no-repeat left center; background-size:16px; padding: 0 20px; }
 			.f-hot-tel-account{background-color:#f6f6f7; border-radius:2px; height: 45px; margin: 20px 15px 0; line-height: 45px; text-align: center; }
 			/*----菜单 开始----*/
 			.menu{width:122px; background:rgba(51,51,51,.95); position:fixed; right:10px; top:41px; z-index:1000000; -webkit-border-radius:3px; }
 			.menu::before{display:block; content:''; border:7px solid; border-color:transparent transparent rgba(51,51,51,.95); width:0; height:0; position:absolute; top:-14px; right:10px; }
 			.menu ul{margin:0 15px; }
 			.menu ul li{border-bottom:1px solid #545454; height:49px; line-height:49px; }
 			.menu ul li:last-child{border:none;}
 			.menu ul li a{color:#fff; font-size:14px; display:block; height:100%; width:100%; text-indent:42px; background-image:url(../../../images/weixin-v1.0/images/public/menu_bg.png); background-repeat:no-repeat; background-size:19px; }
 			.ly-menuNavConduct{background-position:14px 13px; }
 			.ly-menuNavWithCapital{background-position:14px -33px; }
 			.ly-menuNavLogin{background-position:14px -76px; }
 			.ly-menuNavRegistration{background-position:14px -118px; }
 			.ly-menuNavAccounts{background-position:14px -161px; }
 			.ly-menuNavRecharge{background-position:14px -201px; }
 			.ly-menuNavWithdrawals{background-position:14px -241px; }

 			/*----------------- lxm start -----------------*/
 			#loading,.loading{display:none;width:100%;height:20px;margin:15px 0px;background:url(../../../images/weixin-v1.0/images/public/loading.gif) no-repeat center center;}

 			/*----------------- lxm end -----------------*/
 			/*----404 开始----*/
 			.img404{width:65px; margin:46px auto 22px auto; display:block; }
 			.ly-p404{text-align:center; font-size:13px; color:#394659; }
 			.ly-404-index-btn-gray{background-color: #fff; border-radius: 3px; display: block; height: 45px; line-height: 45px; text-align: center; font-size: 18px; color: #394659; margin: 10px 15px 0; border:1px solid #919aa7; margin-top:42px; }
 			/*--------homs下载页 开始--------------*/
 			.ly-downloadImg{width:112px; display:block; margin:26px auto 11px auto; }
 			.iosBtn{display:block; width:154px; margin:21px auto 29px auto; }
 			.iosBtn img{width:100%; }
 			.ly-downloadovh{overflow:hidden;}
 			.ios,
 			.ard{min-height:22px; line-height: 2; padding-left: 25px; width: 90px; margin: 5px auto 15px; }
 			.ios{background: url(../../../images/weixin-v1.0/images/down/i-1.png) no-repeat left center; background-size: 19px; }
 			.ard{background: url(../../../images/weixin-v1.0/images/down/i-2.png) no-repeat left center; background-size: 19px; }
 			.bgff{background:#fff;}
 			.bgf0{background:#f0f0f0;}
 			/*------暂无记录 开始-------*/
 			.ly-zwImg{width:61px !important; display:block !important; margin:50px auto 16px auto !important; }
 			.ly-zwText{font-size:14px !important; text-align:center !important; color:#394659 !important; }
 			.ly-pt20{padding-top:20px !important;}
 			/*----敬请期待 开始----*/
 			.starTunedImg{display:block; margin:0 auto 11px auto; width:116px; }
 			.starTunedP{color:#394659; font-size:16px; line-height:25px; margin-bottom:45px; }
 			.starTunedBtn {background-color: #ff5353; border-radius: 3px; display: block; height: 45px; line-height: 45px; text-align: center; font-size: 18px; color: #fff; width: 95%; margin: 0 auto; }
 			.ly-starTuned{position:absolute; top:50%; margin-top:-116px; left:0; right:0; }
 			.ly-body-pt0{padding-top:0;}

 			/* pop_loading */
 			.lxm-pop-loading{width:180px;height:100px;line-height:100px;background-color:rgba(0,0,0,0.45);border-radius:10px;color:#fff;text-align:center;font-size:20px;position:fixed;top:50%;left:50%;margin:-50px 0px 0px -90px;}
 			.ly-zz{position:fixed; top:0; bottom:0; left:0; right:0; z-index:1000; background:rgba(0,0,0,.8); display:none; }
 			/*银行营业时间提示浮层 start-------------------*/
 			.f-time-tip{background:rgba(255,242,242,0.8); position:fixed; top:45px; left:0; right:0; z-index:100; text-align:center; color:#ff5353; font-size:10px; line-height: 1.5; }
 			.f-time-tip p{padding:5px 10px; }
 			.f-time-tip-close{background:url(../../../images/weixin-v1.0/images/public/close-x.png) no-repeat center; background-size:16px; display: block; width:20px; height: 20px; padding: 5px; position: absolute; right: 5px; top: 7px; font-size: 0; line-height: 0; color:rgba(0,0,0,0); }
 			/* 输入金额大写 */
 			.money_upper{height:20px;margin:5px 0.5rem;visibility:hidden;font-size:10px;}
 			/*app 访问*/
 			.app-header{display:none !important;}
 			.app-body{margin-top:-45px !important; display:block !important; }
 			.ly-homesImg{width:74%; float:right; }
 			/*homes pc下载*/
 			.ly-homesPc{padding:20px 0; }
 			.ly-homesPc p{border:1px solid #f0f0f0; margin:0 20px; text-align:center; font-size:14px; color:#394659; padding-top:24px; }
 			.ly-homesPc p a{display:block; height:35px; line-height:35px; width:155px; margin:14px auto 19px auto; background:#4299ec; border-radius:3px; -webkit-border-radius:3px; color:#fff; }
 			/*----安装教程 开始-------------*/
 			.ly-InstallationGuide{padding:23px 20px 0 20px; color:#394659; overflow:hidden; background:url(../../../images/weixin-v1.0/images/public/ly-InstallationGuideImg.png) 20px bottom no-repeat; background-size:279px; padding-bottom:130px; }
 			.ly-InstallationGuide p:first-child{font-size:16px; }
 			.ly-InstallationGuide p:nth-child(2){color:#1a96ff; font-size:15px; margin-top:11px; }
 			.ly-InstallationGuideImg{width:279px; }
		 }
		
	}